<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Twinlab_Premium_Creatine_Fuel_Powder</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Twinlab Premium Creatine Fuel Powder
Research shows that Creatine users had a significant increase in peak power output, lean body mass and muscular performance.* Depletion of phosphocreatine can result in muscular fatigue and fading muscle power.* Research shows that users of high quality creatine monohydrate exhibited: Increased peak power*,  Amplified muscular performance*, Improved lean body mass*,  Advanced performance enhancer with pure Creatine Monohydrate, an energy enhancing supplement*, Improves muscle strength, performance and lean mass*, Featuring precision, micronized, German-sourced brand creatine (micronization allows Creatine powder to stay suspended in liquid longer). *These statements have not been evaluated by the Food and Drug Administration.  This product is not intended to diagnose, treat, cure or prevent disease.</description>
</model>
